In [13]:
from sklearn.model_selection import cross_val_score
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
import pandas as pd

In [14]:
iris = load_iris()
logreg = LogisticRegression(max_iter=1000)

In [15]:
scores = cross_val_score(logreg, iris.data, iris.target, cv=20)
scores.mean()

0.9660714285714287

In [16]:
from sklearn.model_selection import cross_validate
res = cross_validate(logreg, iris.data, iris.target, return_train_score=True)
res

{'fit_time': array([0.0179491 , 0.01495981, 0.00797868, 0.00897717, 0.00897622]),
 'score_time': array([0.00099802, 0.        , 0.00099754, 0.00099611, 0.        ]),
 'test_score': array([0.96666667, 1.        , 0.93333333, 0.96666667, 1.        ]),
 'train_score': array([0.96666667, 0.96666667, 0.98333333, 0.98333333, 0.975     ])}

In [17]:
res_df = pd.DataFrame(res)
display(res_df)
print("평균 시간과 점수: \n", res_df.mean())

   fit_time  score_time  test_score  train_score
0  0.017949    0.000998    0.966667     0.966667
1  0.014960    0.000000    1.000000     0.966667
2  0.007979    0.000998    0.933333     0.983333
3  0.008977    0.000996    0.966667     0.983333
4  0.008976    0.000000    1.000000     0.975000

평균 시간과 점수:
 fit_time       0.011768
score_time     0.000598
test_score     0.973333
train_score    0.975000
dtype: float64

# 교차 검증의 장점
## 계층별(Stratified) k-겹 교차 검증과 그외 전략들